<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="error" type="java.lang.String"*/-->
<h1 th:if="${error}!=null" th:text="${error}"></h1>
<form action="/customers" method="post">
    <!--/*@thymesVar id="customer" type="com.tutrit.bean.Customer"*/-->
    <input name="customerId" th:value="${customer.customerId()}"/><br><br>
    <input name="name" th:value="${customer.name()}"/><br><br>
    <input name="city" th:value="${customer.city()}"/><br><br>
    <input name="phoneNumber" th:value="${customer.phoneNumber()}"/><br><br>
    <input name="email" th:value="${customer.email()}"/><br><br>
    <button name="save" type="submit">save</button>
    <button name="delete" type="submit">delete</button>
    <button name="update" type="submit">update</button>
</form>
